@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

#VoteCon {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    background-color: transparent;
    border-radius: 15px;
    border: 0.3px solid rgba(227, 234, 255, 0.5);
    margin-top: 17px;
}

#FirstRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    padding: 0px 20px; 
}

.CheckedAlgo {
    background-color: rgb(29, 161, 242);
    font-family: "Play", sans-serif;
    font-size: 16px;
    font-weight: 900;
    border-radius: 50px;
    border: 0.5px solid white;
    color: white;
    padding: 10px 20px;
    height: auto;
    width: 40%;
    text-align: center;
}

.RealBtn, .UncertainBtn, .FakeBtn {
    background-color: white;
    border: 0.7px solid rgb(255, 255, 255, 0.7);
    border-radius: 50px;
    color: black;
    font-size: 13px !important;
    font-family: "Play", sans-serif;
    font-weight: 650;
    width: 15%;
    height: 35px;
    text-align: center;
}

.RealBtn:hover, .UncertainBtn:hover, .FakeBtn:hover {
    border: 0.7px solid rgb(29, 161, 242);
    color: rgb(29, 161, 242);
    background-color: transparent;
    box-shadow: 0px 0px 25px rgba(29, 161, 242, 0.4);
    cursor: pointer;
}

#SecRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    gap: 15px;
    margin: 0px 20px;
}

.RefBox {
    background-color: transparent;
    border: 1px solid white;
    border-radius: 20px;
    padding: 12px;
    width: 100%;
}

.RefBox::placeholder {
    color: rgb(255, 255, 255, 0.5);
    font-family: "Play", sans-serif;
    padding: 6px;
}

.SubmitBtn {
    background-color: rgb(29, 161, 242);
    border-radius: 50px;
    border: none;
    color: white;
    font-size: 9;
    font-family: "Play", sans-serif;
    font-weight: bolder;
    width: 95px;
    height: 40px;
    text-align: center;
    display: inline;
    padding: 0px 20px;
}

.SubmitBtn:hover {
    color: white;
    background-color: rgb(255, 155, 71);
    cursor: pointer;
}

.TVCon {
    font-family: "Play", sans-serif;
}